<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DropboxAPI</key>
	<dict>
		<key>AppSecret</key>
		<string>YOUR APP SECRET HERE</string>
		<key>AppKey</key>
		<string>YOUR APP KEY HERE</string>
	</dict>
	<key>FoursquareAPI</key>
	<dict>
		<key>ClientID</key>
		<string>YOUR CLIENT ID HERE</string>
		<key>ClientSecret</key>
		<string>YOUR CLIENT SECRET HERE</string>
	</dict>
</dict>
</plist>
